<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <title>Salesforce Store</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
</head>

<body ng-controller="ProductController">

    <h1>Salesforce Products</h1>
    <button ng-click="login()" ng-if="!isLoggedIn">Login</button>
    <button ng-click="logout()" ng-if="isLoggedIn">Logout</button>


    <ul>
        <li ng-repeat="p in products">{{p.Name}} ({{p.ProductCode}})</li>
    </ul>

    <script src="app.js"></script>
</body>

</html>